*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;

  background: linear-gradient(#93bfcf, #6096b4);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 37.5rem;
  background-color: #ecf2ff;
  border-radius: 3rem;
}

.section-search {
  padding: 5%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.search-button {
  background-color: #93bfcf;
  border-radius: 50%;
  padding: 1rem;
  border: none;
  transition: background-color 0.2s;
  cursor: pointer;
}

.search-button svg {
  display: block;

  width: 3.5rem;
  height: 3.5rem;

  color: #ecf2ff;
}

.search-button:hover {
  background-color: #a7cfde;
}

/* ********************************************* */

.favorite-button {
  position: absolute;
  background: transparent;
  padding: 1.5rem;
  border: none;
  cursor: pointer;

  transition: transform 0.2s;

  top: 0;
  right: 0;
}

.favorite-button svg {
  display: block;

  width: 3rem;
  height: 3rem;

  color: #93bfcf;
}

.favorite-button:hover {
  transform: scale(1.2);
}

/* ********************************************* */
.search-input {
  background-color: #ffffff;
  border-radius: 100rem;

  padding: 2rem;
  border: none;

  width: 100%;
}

*:focus {
  outline: none;
}

.section-display {
  position: relative;

  padding: 5rem 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;

  background-color: #ffffff;
}

.display-city-name {
  color: #394867;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.display-weather-icon {
  width: 60%;
  height: 60%;
  margin-top: -10%;
}

.display-degree {
  font-size: 3rem;
  color: #394867;
  font-weight: 600;
}

.display-more-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.details-box {
  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-more-details-icons {
  width: 60%;
  margin-top: -10%;
  display: block;
}

.display-more-details-desc-wind,
.display-more-details-desc-humidity {
  font-size: 1.25rem;
  color: #394867;
  font-weight: 400;
}
