*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;

  background: linear-gradient(#93bfcf, #6096b4);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 40rem;
  min-width: 35%;
  height: 60rem;

  padding: 0 5%;
}

.section-search {
  padding: 5%;

  width: inherit;
  max-width: inherit;
  min-width: inherit;

  background-color: #ecf2ff;

  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.search-button {
  background-color: #93bfcf;
  border-radius: 50%;
  padding: 1rem;
  border: none;
  transition: background-color 0.2s;
  cursor: pointer;
}

.search-button svg {
  display: block;

  width: 3.5rem;
  height: 3.5rem;

  color: #ecf2ff;
}

.search-button:hover {
  background-color: #a7cfde;
}

/* ********************************************* */

.favorite-button {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;

  transition: transform 0.2s;

  top: 0.75rem;
  right: 0.75rem;
}

.favorite-button svg {
  display: block;

  width: 3rem;
  height: 3rem;

  color: #93bfcf;
}

.favorite-button:hover {
  transform: scale(1.2);
}

/* ********************************************* */

.search-wrapper {
  width: 100%;

  position: relative;
}

.search-input {
  background-color: #ffffff;
  border-radius: 100rem;

  padding: 2rem;
  border: none;

  width: 100%;

  z-index: 10;

  position: inherit;
}

.search-suggestions {
  background-color: #ffffff;
  width: inherit;

  position: absolute;
  top: 50%;

  display: flex;
  flex-direction: column;

  padding: 5%;

  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;

  box-shadow: 0rem 0.5rem 1rem #39486717;

  z-index: 1;
}

.hidden {
  display: none;
}

.favorites-list {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.favorites-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorites-list-item:first-child {
  padding-top: 5%;
}

.favorites-list-item-button {
  font-size: 1.25rem;
  color: #777;
  background: transparent;
  border: none;
  text-align: left;
  font-weight: 500;
  padding: 5% 1rem;

  transition: color 0.2s;
}

.favorites-list-item-button:hover {
  color: #444;
}

.favorites-list-item svg {
  width: 8%;
  height: 8%;
  color: #777;
  transition: color transform 0.2s;
  transition: transform 0.2s;
}

.favorites-list-item svg:hover {
  color: #444;
  transform: scale(1.15);
}

.favorites-list:first-child {
  padding-top: 7%;
}

*:focus {
  outline: none;
}

.section-displays {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 50rem;

  width: inherit;
  max-width: inherit;
  min-width: inherit;

  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;

  background-color: #ffffff;
}

.display-weather {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5rem 5%;
}

.display-spinner {
  display: none;
  height: 20%;
  width: 20%;
}

.display-error {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  margin-top: -20%;
}

.display-error img {
  height: 60%;

  margin: -10%;
}

.error-desc {
  font-size: 1.75rem;
  color: #394867;
  font-weight: 500;
  line-height: 1.5;

  padding: 0 2rem;
  text-align: center;
}

.display-city-name {
  color: #394867;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.display-weather-icon {
  width: 60%;
  height: 60%;
  margin-top: -10%;
}

.display-degree {
  font-size: 3rem;
  color: #394867;
  font-weight: 600;
}

.display-more-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.details-box {
  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-more-details-icons {
  width: 60%;
  margin-top: -10%;
  display: block;
}

.display-more-details-desc-wind,
.display-more-details-desc-humidity {
  font-size: 1.25rem;
  color: #394867;
  font-weight: 400;
}
